.title {
    font-weight: bold;
}
.pleft {
    opacity: 0.5;
}
.pright {
    text-align: right;
    opacity: 0.5;
}
.pizza {
    display: grid;
    margin: auto;
}
.print {
    float: left;
    height: 50px;
    width: 50px;
}