.title {
    font-weight: bold;
}
.pleft {
    opacity: 0.5;
}
.pright {
    float: right;
    text-align: right;
    opacity: 0.5;
}
.pizza {
    display: grid;
    margin: auto;
}
.print {
    float: left;

}